.header__lang-link {
  font-size: 1.5rem;
  line-height: 1.5;
  color: white;
  font-weight: normal;
  text-decoration: none;
margin-right: 18px;


}
.header__lang-link:last-child {
  margin-right: 0;
}


.header__lang-link:hover {
  text-decoration: underline;
}
