.footer__links {
  list-style: none;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  position: relative;
  justify-items: flex-start;
  padding: 0;
  margin: 0;
}

@media screen  and (max-width: 511px) {
  .footer__links {
    flex-flow: column;
  }
}
