.intro__title {

  font-size: 54px;
  font-style: normal;
  font-weight: 900;
  line-height: 107%;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin: 92px 0 40px;
}

@media screen and (max-width: 320px) {
  .intro__title   {

    font-size: 32px;
    max-width: 288px;
    margin-top:64px;
    line-height: 109%;
  }
}
@media screen  and (max-width: 768px) and (min-width: 321px) {
  .intro__title   {
    margin: 88px 0 40px;
  }
}
